<link rel="stylesheet" href="EaseBodyFoodSite/assets/css/static/auth.css">
<div class="auth-modal">
    <h2>Вхід</h2>
    <div class="auth-modal__switch">Немає акаунта? <a href="#" id="openRegisterModal">Реєстрація</a></div>
    <form id="loginForm">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Увійти</button>
    </form>
</div>
<script src="EaseBodyFoodSite/assets/js/header.js"></script>