<link rel="stylesheet" href="EaseBodyFoodSite/assets/css/static/auth.css">
<div class="auth-modal">
    <h2>Реєстрація</h2>
    <div class="auth-modal__switch">Є акаунт? <a href="#" id="openLoginModal">Увійти</a></div>
    <form id="registerForm">
        <input type="text" name="name" placeholder="Ім'я" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="confirmPassword" placeholder="Підтвердіть пароль" required>
        <button type="submit">Зареєструватися</button>
    </form>
</div>
<script src="EaseBodyFoodSite/assets/js/header.js"></script>