<header class="main-header">
    <a href="/index.html" class="logo-link">
        <img src="/data/img/logo.png" alt="Logo" class="logo">
    </a>
    <nav class="main-nav" id="mainNav">
                <a href="/index.html">Головна</a>
        <a href="EasyBodyFood/pages/main/constructor.html">Конструктор меню</a>
        <a href="../pages/main/calculator.html">Калькулятор раціону</a>
        <!-- <a href="/star.html">Зіркове меню</a> -->
        <a href="EasyBodyFood/pages/main/standart.html">Стандартне меню</a>
    </nav>
    <div class="header-actions">
        <a href="/pages/main/cart.html" class="icon-button basket-big">
            <svg class="icon-img basket-svg" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 6H21L20 14H7L6 6Z" stroke="#4CAF50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="9" cy="20" r="1" stroke="#4CAF50" stroke-width="2"/>
                <circle cx="18" cy="20" r="1" stroke="#4CAF50" stroke-width="2"/>
                <path d="M9 6V4C9 2.89543 9.89543 2 11 2H16C17.1046 2 18 2.89543 18 4V6" stroke="#4CAF50" stroke-width="2" stroke-linecap="round"/>
            </svg>
            0 <span class="currency">₴</span>
        </a>
        <a href="#" class="icon-button icon-button--wide" id="loginBtn">
            <svg class="icon-img user-svg" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="8" r="4" stroke="#fff" stroke-width="2"/>
                <path d="M4 20C4 16.6863 7.13401 14 12 14C16.866 14 20 16.6863 20 20" stroke="#fff" stroke-width="2"/>
            </svg>
            Вхід
        </a>
    </div>
    <button class="burger" id="burgerBtn" aria-label="Открыть меню">
      <span></span><span></span><span></span>
    </button>
</header>
 